<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{{ site_title }}</title>
</head>
<body>
  <h1>{{ site_title }}</h1>
  <p>Atualização de versão via Ansible</p>
  <p>Versão do site: <strong>{{ site_new_version }}</strong></p>
</body>
</html>